.idea/
.vscode/
*.egg-info/
*.py[cod]
.venv/
.venvs/
/build/
/dist/
.coverage*
/.pdm-build/
/htmlcov/
/site/
uv.lock
.cache/
.pytest_cache/
.ruff_cache/
__pycache__/
owner_id.txt
token.txt
torrent-search*
.env
